@if (shoesD()) {
  <div class="shoe-detail-container">
    <div class="shoe-detail">
      <div class="shoe-info">
        <h1 class="shoe-name">{{ shoesD().name }}</h1>
        <p class="shoe-description">{{ shoesD().description }}</p>
        <div class="shoe-rating">
          @for (star of getStars(shoesD().rating); track star) {
            <mat-icon class="star">
              {{ star }}
            </mat-icon>
          }
        </div>
        <div class="shoe-colors">
          <p>FAREBNÁ KOMBINÁCIA:</p>
          @for (color of colorCombination(shoesD().shoeColor); track color) {
            <button
              class="color-button"
              [ngStyle]="{'background-color': color.trim()}"
              (click)="selectColor(color.trim())">
            </button>
          }
        </div>
        <button class="add-to-cart-button" (click)="addToCart(shoesD())">PRIDAŤ DO KOŠÍKA</button>
      </div>
      <div class="shoe-image-container">
        <img class="shoe-image" [src]="shoesD().urlPicture" alt="Shoe Image" />
      </div>
    </div>
  </div>
}
