@if (authService.authenticated()) {
  <h1>You're currently logged in.</h1>
} @else {
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="'password'" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
    <div class="container">
      <p class="text">Nemáš u nás účet?</p>
      <button mat-raised-button class="registerB" color="primary" [routerLink]="['/register']">Register NOW!</button>
    </div>
  </form>
}
