<mat-toolbar>
  <span>FOOTSHOP</span>
  <span class="spacer"></span>

  <mat-icon class="home-icon" [routerLink]="['/home']">home</mat-icon>
  <mat-icon>new_releases</mat-icon>
  <mat-icon>notifications_active</mat-icon>
  <mat-icon class="shopping-cart" [routerLink]="['/cart']">shopping_cart</mat-icon>
  <mat-icon class="user-icon" [routerLink]="['/userprofile']">supervised_user_circle</mat-icon>

  @if (authService.authenticated()) {
  <div class="buttons">
    <button mat-button (click)="logout()">Logout</button>
  </div>
  }

  @else {
  <div class="buttons">
    <button mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/register']">Registration</button>
  </div>
  }

</mat-toolbar>
