.shoes-frame {
  border-radius: 15px;
  width: 425px;
  height: 425px;
  margin: 17px;
}

.shoe-image-content {
  width: 425px;
  height: 375px;
  position: relative;
  overflow: hidden;
}

.shoe-image-content img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}   

.shoe-discount {
  font-weight: 900;
  padding: 1px 1px;
  font-family: Consolas;
  background-color: #FFC300;
  position: absolute;
  color: #3D405B;
  bottom: 0;
  left: 8px;
}

.shoe-deliveringstate {
  font-weight: 900;
  padding: 1px 1px;
  font-family: Cambria;
  background-color: #F25C54;
  color: white;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.shoe-details {
  text-align: left;
  margin-top: 15px;
}

.shoe-name {
  color: #3D405B;
  font-family: Georgia;
  margin-bottom: 5px;
}

.shoe-price {
  margin-bottom: 0;
  font-weight: 900;
  font-family: Consolas;
  color: #F25C54;
}
